$regular    : opensans-regular, Arial, sans-serif;
$semi-bold  : opensans-semibold, Arial, sans-serif;
$bold       : opensans-extrabold, Arial, sans-serif;
$color-black: #474351;
$color-grey : #48494d;
